package t_base

templ Base(page templ.Component,path string){
    <!DOCTYPE html>
    <html lang="en">
        @Head()
        <body class="flex flex-col h-full w-full min-h-[100vh] min-w-[100vw] items-center font-mono">
            <div class="flex flex-col justify-center h-20">
                <h1 class="bg-green-300">Welcome to the world of Grunlah</h1>
            </div>
            <div class="bg-black h-[2px] w-full" ></div>
            <div id="page" class="w-full h-full">
                @page
            </div>
        </body>
    </html>
}