package t_base

import "web-mmo/modules/templates/t_ui"

templ GameBase(page templ.Component,path string){
    <!DOCTYPE html>
    <html lang="en">
    @Head()
    <body class="flex flex-col items-center font-mono">
        <div class="h-20">
            <h1 class="bg-green-300">Welcome to the world of Grunlah</h1>
        </div>
        <div>
            @t_ui.Menu(path)
        </div>
        <div class="bg-black h-[2px] w-full" ></div>
        <div id="page" class="flex flex-col items-center w-full">
            @page
        </div>
    </body>
    </html>
}