{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col items-center font-mono">
    <div class="bg-green-300">
        <h1>Welcome to the world of Alaroth</h1>
    </div>
    <div>
        {{template "menu" .}}
    </div>
    <div class="bg-black h-[2px] w-full" ></div>
    <div class="flex flex-col items-center">
        {{template "world" .}}
    </div>
</body>
</html>
{{ end }}
